.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid red; */
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* header-logo */
.list {
    list-style: none;
}

.link {
    text-decoration: none;

}

.header--logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo__web {
    color: var(--accent-color);
}

/* header-navigation */
.navigation__list {
    display: flex;
}

.navigation__item {
    margin-right: 50px;
}

.navigation__item:last-child {
    margin-right: 0px;
}

.navigation__link {
    position: relative;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--top-text-color);
}

.current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;

    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .header-link:hover::after,
.header-link:focus::after{
    width: 100%;    
} */
/* contacts */
.connection__list {
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.connection__link-mail {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--accent-color)
    }
}

.connection__mail-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}

.connection__link-tel {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-color)
    }
}

.connection__tel-icon {
    margin-right: 10px;
    fill: currentColor;
}

/* header to portfolio page */
// .header-portfolio {
//     border-bottom: 1px solid #ECECEC;
// }