.modal-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.modal-field {
    margin-top: 4px;
    margin-bottom: 12px;
}

.modal-input {
    font-size: 12px;
    padding: 12px 0px 12px 42px;
    width: 100%;
    height: 40px;
    outline: transparent;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    }
    &:focus+.modal-input-icon {
        fill: var(--accent-color);
    }
    &:hover+.modal-input-icon {
        fill: var(--accent-color);
    }
}

.modal-label-text {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: #757575;
}

.modal-input-svg {
    position: relative;
    margin-top: 4px;
}

.modal-input-icon {
    position: absolute;
    align-items: center;
    top: 50%;
    left: 12px;
    top: 11px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comm {
    font-size: 12px;
    padding: 12px 16px;

    resize: none;
    margin-bottom: 20px;
    width: 100%;
    height: 120px;
    margin-top: 4px;
    margin-bottom: 20px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    }
}

.modal-comm::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.modal-agree {
    position: absolute;
}

.modal-agree-image {
    margin-right: 7px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-agree-text {
    display: flex;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;
    margin-right: auto;
    justify-content: center;
}

.modal-agree-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: transparent;

    .modal-agree:checked+ & {
    background-color: var(--accent-color);
    border-color: transparent;
    fill: #FFFFFF;
    }
}

.modal-agree-policy {
    color: var(--accent-color);
}

.modal-submit-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 712px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;

    cursor: pointer;
}